/* #region head */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.container {
    max-width: 318px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-hh {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.section-hhh {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion head */

/* #region header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.studio {
    color: #2e2f42;
}

.header-ul{
    display: none;
}

.header-address-ul{
    display: none;
}

/* .header-ul {
    display: flex;
    gap: 40px;
}

.header-nav-li-studio {
    position: relative;
    color: #404bbf;
}

.header-nav-li-studio::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.header-nav-li {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-li:hover,
.header-nav-li:focus {
    color: #404bbf;
}

.header-nav-li:active {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.header-address-li {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-li:hover,
.header-address-li:focus {
    color: #404bbf;
} */

.menu-button{
    background-color: transparent;
    border: none;
    padding: 16px 0;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #endregion header */

/* #region section title */

.section-title {
    background-color: #2e2f42;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-Dark-bg.jpg);
    background-size: cover;
    background-position: center;
    max-width: 320px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.section-title-h {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 216px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}

.section-title-button {
    display: block;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    /* cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* .section-title-button:hover,
.section-title-button:focus {
    background-color: #404bbf;
} */

/* #endregion section title */

/* #region section advantages */

.section-advantages-ul {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

/* .section-advantages-ul-li {
    flex- basis ?
    width: calc((100% - 72px) / 4);
} */

.section-advantages-icon {
    display: none;
}

.section-advantages-p{
    font-weight: 500;
}

/* .section-advantages-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
} */

/* #endregion section advantages */

/* #region section-team */

.section-team {
    background-color: #f4f4fd;
}

.team-container {
    display: block;
}

.section-team-hh {
    margin-bottom: 72px;
}

.section-team-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.section-team-li {
    /* width: calc((100% - 72px) / 4); */
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-team-box {
    padding: 32px 0;
}

.section-team-hhh {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-team-p {
    text-align: center;
}

.team-ul-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    gap: 24px;
}

.team-ul-icon-li {
    width: 40px;
    height: 40px;
}

.team-icon-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* .team-icon-a:hover,
.team-icon-a:focus {
    background-color: #404bbf;
} */

.team-svg {
    fill: #f4f4fd;
}

/* #endregion section-team */

/* #region section-portfolio */

.portfolio-container {
    display: block;
}

.section-portfolio-hh{
    margin-bottom: 72px;
}

.section-portfolio-ul {
    display: flex;
    flex-direction: column;
    gap: 48px;
    /* column-gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px; */
}

.portfolio-li {
    /* width: calc((100% - 48px) / 3); */
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-portfolio-img {
    position: relative;
    overflow: hidden;
}

.div-portfolio-img-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover .div-portfolio-img-text {
    transform: translateY(0%);
}

.portfolio-box {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.section-portfolio-hhh{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: start;
}

/* #endregion section-portfolio */

/* #region footer */

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: baseline; */
    align-items: center;
    text-align: center;
    gap: 72px;
}

/* .footer-decor {
    
    margin-right: 120px;
} */

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-studio {
    color: #f4f4fd;
}

.footer-p {
    max-width: 288px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: start;
}

.footer-p-icon {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-ul-icon {
    display: flex;
    gap: 16px;
}

.footer-ul-icon-li {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-a:hover {
    background-color: #31d0aa;
}

.footer-icon-a:focus {
    background-color: #31d0aa;
}

.footer-icon-svg {
    fill: #f4f4fd;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-p-contact {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    border-radius: 4px;
    color: #ffffff;
}

.footer-input::placeholder {
    color: #ffffff;
}

.footer-button {
    width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.footer-button-svg {
    margin-left: 16px;
    fill: #ffffff;
}

/* #endregion foote */

/* #region modal-overlay */

.modal-overlay {
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);


    z-index: 999;
    opacity: 0;
    pointer-events: none;
}

.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
}

.modal-button-x {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-x:hover,
.modal-button-x:focus {
    background-color: #404bbf;
    border: none;
}

.modal-button-x-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-x:hover .modal-button-x-svg {
    fill: #ffffff;
}

.modal-button-x:focus .modal-button-x-svg {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-div {
    margin-bottom: 8px;
}

.modal-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.form-div-input {
    position: relative;
    margin-bottom: 8px;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: #4D5AE5;
}

.form-input-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus+.form-input-svg {
    fill: #4D5AE5;
}

.form-input-comment {
    margin-bottom: 16px;
}

.form-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
    border-color: #4D5AE5;
}

.form-checkbox-div {
    margin-bottom: 24px;
}

.form-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    ;
}

.form-checkbox-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}


.form-checkbox-input:checked+.form-checkbox-label .form-checkbox-span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.form-checkbox-link {
    color: #4d5ae5;
}

.form-button-send {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    border-radius: 4px;
}

/* #endregion modal-overlay */

/* #region modal menu */

.modal-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);


    z-index: 999;
    opacity: 0;
    pointer-events: none;
}

.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-menu-button-x {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
}

.menu-ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-nav-li {
    display: block;
    padding: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-nav-li-studio {
    color: #404bbf;
}

.menu-nav-li:active {
    color: #404bbf;
}

.menu-link{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.address {
    font-style: normal;
}

.menu-address-ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menu-address-li {
    display: block;
    padding: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.menu-address-li-tel{
    color: #4d5ae5;
}

.menu-ul-icon {
    display: flex;
    gap: 40px;
}

.menu-ul-icon-li {
    width: 40px;
    height: 40px;
}

.menu-icon-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-icon-svg {
    fill: #f4f4fd;
}

/* #endregion modal menu */

/* #region @media min768px */

@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
    }

    .logo-header{
        margin-right: 120px;
    }

        .header-ul {
        display: flex;
        gap: 40px;
    }
    
    .header-nav-li-studio::after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }
    
    .header-nav-li {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-nav-li-studio {
        position: relative;
        color: #404bbf;
    }
    
    .header-nav-li:active {
        color: #404bbf;
    }
    
    .address {
        font-style: normal;
    }
    
    .header-address-ul{
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 16px 0;
    }

    .header-address-li {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-button {
        display: none;
    }

    .section-title {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-people-office.jpg);
        padding-top: 112px;
        padding-bottom: 112px;
        max-width: 768px;
    }

    .section-title-h {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }

    .section-advantages-ul {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .section-advantages-ul-li{
        width: calc((100% - 24px) / 2);
    }

    .section-hhh{
        text-align: start;
    }

    .section-team-ul {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }

    .section-team-hhh {
        text-align: center;
    }

    .section-portfolio-ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .portfolio-li {
        width: calc((100% - 24px) / 2);
    }

    .footer {
        padding: 96px 108px;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        text-align: start;
        gap: 72px 24px;
    }

    .footer-p-icon {
        text-align: start;
    }

    .footer-form {
        flex-direction: row;
    }

    .footer-contact{
        align-items: flex-start;
    }

    .modal {
        width: 408px;
        height: 584px;
    }
}

/* #endregion @media min768px */

